.notifications-modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 0 auto;
}

.modal-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e1e4e8;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.close-button {
    cursor: pointer;
    font-size: 20px;
}

.notification-count {
    padding: 10px 20px;
    border-bottom: 1px solid #e1e4e8;
    font-weight: normal;
    color: #586069;
}

.notification-list {
    max-height: 400px;
    overflow-y: auto;
}

.notification-item {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid #e1e4e8;
    transition: background-color 0.3s;
}

.notification-item:hover {
    background-color: #f6f8fa;
}

.notification-content {
    flex-grow: 1;
}

.notification-content a{
    text-decoration: none;
    color: #000; 
}
.notification-project {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.notification-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.notification-title.closed {
    text-decoration: line-through;
}

h3.notification-title a{
    font-size: 18px !important;
}

h3.notification-title a:hover{
    color:#0366d6;
}
.notification-right {
    display: flex;
    align-items: center;
    min-width: 80px;
    justify-content: flex-end;
}

.notification-date {
    font-size: 0.9em;
    color: #586069;
}

.notification-mark-read {
    display: none;
    cursor: pointer;
    color: #28a745;
    font-size: 18px;
}

.notification-mark-read:hover {
    background-color: #cfe0f1;
}

.notification-item:hover .notification-date {
    display: none;
}

.notification-item:hover .notification-mark-read {
    display: block;
}

.notification-actions {
    padding: 15px 20px;
    text-align: right;
    border-top: 1px solid #e1e4e8;
}

.notification-actions a {
    color: #0366d6;
    text-decoration: none;
}

.alert {
    padding: 15px;
    text-align: center;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}